doctype html
html
  head
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title Leaves | GBL CENTUM
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport')
    link(rel='shortcut icon', type='image/x-icon', href='/images/icon.png')
    link(rel='stylesheet' href='/admin/assets/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
    link(rel='stylesheet' href='/admin/assets/css/ready.css')
    link(rel='stylesheet' href='/admin/assets/css/demo.css')
    // DATABLES
    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css")
  body
    .wrapper
      .main-header
        .logo-header
          a.logo(href='#')
            img(src=company.logo,width='70px', alt="")
          button.navbar-toggler.sidenav-toggler.ml-auto(type='button' data-toggle='collapse' data-target='collapse' aria-controls='sidebar' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          button.topbar-toggler.more
            i.la.la-ellipsis-v
        nav.navbar.navbar-header.navbar-expand-lg
          .container-fluid
            
            ul.navbar-nav.topbar-nav.ml-md-auto.align-items-center
              
              
              li.nav-item.dropdown
                a.dropdown-toggle.profile-pic(data-toggle='dropdown' href='#' aria-expanded='false')
                  img.img-circle(src='/images/user.png' alt='user-img' width='36')
                  span #{user.first_name} #{user.last_name}
                ul.dropdown-menu.dropdown-user
                  
                
                  a.dropdown-item(href='/company/log_out')
                    i.fa.fa-power-off
                    |  Logout
                // /.dropdown-user
      .sidebar
        .scrollbar-inner.sidebar-wrapper
          .user
            .photo
              img(src='/images/user.png')
            .info
              a(data-toggle='collapse' href='#collapseExample' aria-expanded='true')
                span
                  | #{user.first_name} #{user.last_name}
                  span.user-level Company
                  
              .clearfix
              
                 
          ul.nav
            
            li.nav-item
              a(href='/company/employees')
                i.la.la-users
                p Employees
                span.badge.badge-primary #{employees.length}
            li.nav-item
              a(href='/company/leaves')
                i.la.la-keyboard-o
                p Leaves
                if leaves2.length > 0
                 span.badge.badge-primary #{leaves2.length}
            li.nav-item
              a(href='/company/expenses')
                i.la.la-th-list
                p Expenses
                if expenses2.length > 0
                 span.badge.badge-primary #{expenses2.length}
               
            
            li.nav-item
              a(href='/company/reports')
                i.la.la-signal
                p Reports
               
            if user.role ==='super admin'  || user.role ==='HR admin'  
              li.nav-item
                a(href='/company/settings')
                  i.la.la-gear
                  p Settings
             
                
            
      .main-panel
        .content
          .container-fluid
            h4.page-title Leaves
            .row
             .col-md-12
              != messages('message', locals)
            .row
              .col-md-12(style='margin-top:20px')
                  table.table.mytable
                              thead
                               tr
                                
                                th Employee
                                th Type
                                th Start Date
                                th End Date
                                th Applied On
                                th Status
                                th Actions
                                
                                
                              tbody
                               each leave in leaves
                                tr
                                 td 
                                  | #{leave.employee}
                                 td=leave.type
                                 td=leave.start_date
                                 td=leave.end_date
                                 td=leave.applied_on
                                 td
                                  if leave.status ==='Pending'
                                   span.badge.badge-dark #{leave.status}
                                  if leave.status ==='Under Review'
                                   span.badge.badge-info #{leave.status}
                                  if leave.status ==='Accepted'
                                   span.badge.badge-success #{leave.status}
                                  if leave.status ==='Declined'
                                   span.badge.badge-danger #{leave.status}
                                 td
                                  if leave.status ==='Pending'
                                    a(href="" data-toggle="modal" data-target="#ViewLeave" data-whatever=leave.id)
                                     i.la.la-eye(style='color:green')
                                  if leave.status ==='Under Review'
                                    a(href="" data-toggle="modal" data-target="#ViewLeave" data-whatever=leave.id)
                                     i.la.la-eye(style='color:green')
                                  if leave.status ==='Accepted'
                                    p ....
                                  if leave.status ==='Declined'
                                    
                                    p ....
                                   
                                 
              
              
           
            
    // View Leave

    #ViewLeave.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
     .modal-dialog(role='document')
        .modal-content
         .modal-header
            h5#exampleModalLabel.modal-title View Leave
            button.close(type='button' data-dismiss='modal' aria-label='Close')
             span(aria-hidden='true') ×
         .modal-body
            input#leave_id(type='hidden' name='id')
            p 
             span(style='font-weight:bold') Employee Name:
             &nbsp;
             span#employee
            p
             span(style='font-weight:bold')  Start Date:
             &nbsp;
             span#start_date
            p
             span(style='font-weight:bold') End Date:
             &nbsp;
             span#end_date
            p 
              span(style='font-weight:bold')  Type:
              &nbsp;
              span#type
            p
             span(style='font-weight:bold') Message:
             &nbsp;
             span#message
            br
            
            form(action="/company/accept_leave" method='POST')
             input#leave_id(type='hidden' name='id')
             button.btn.btn-primary.btn-block Accept
            br
            form(action="/company/decline_leave" method='POST')
             input#leave_id(type='hidden' name='id')
             button.btn.btn-danger.btn-block Decline
               
             
         .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') Close    
   
    script(src='/admin/assets/js/core/jquery.3.2.1.min.js')
    script(src='/admin/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')
    script(src='/admin/assets/js/core/popper.min.js')
    script(src='/admin/assets/js/core/bootstrap.min.js')
    script(src='/admin/assets/js/plugin/chartist/chartist.min.js')
    script(src='/admin/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js')
    
    script(src='/admin/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js')
    script(src='/admin/assets/js/plugin/jquery-mapael/jquery.mapael.min.js')
    script(src='/admin/assets/js/plugin/jquery-mapael/maps/world_countries.min.js')
    script(src='/admin/assets/js/plugin/chart-circle/circles.min.js')
    script(src='/admin/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')
    script(src='/admin/assets/js/ready.min.js')
    script(src='/admin/assets/js/demo.js')

    // DATABLES
    script(src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js")
    script(src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js")
    script(src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js")
    script(src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js")
   





    script.
       $(document).ready( function () {
            $('.mytable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            } );
            $('#ViewLeave').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // Extract info from data-* attributes
                var leave = {}
                $.get('/company/get_leave_details2/'+recipient, function( data ) {
                   leave=data.leave
                   console.log(data)
                })
                setTimeout(()=>{
                 var modal = $(this)
                   modal.find('.modal-body #leave_id').val(recipient)
                   document.getElementById('employee').innerHTML = leave.employee
                   document.getElementById('start_date').innerHTML = leave.start_date
                   document.getElementById('end_date').innerHTML = leave.end_date
                   document.getElementById('type').innerHTML = leave.type
                   document.getElementById('message').innerHTML = leave.message
                },1000)
                
                
            })
       })
