doctype html
html
  head
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title Reports | GBL CENTUM
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport')
    link(rel='shortcut icon', type='image/x-icon', href='/images/icon.png')
    link(rel='stylesheet' href='/admin/assets/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
    link(rel='stylesheet' href='/admin/assets/css/ready.css')
    link(rel='stylesheet' href='/admin/assets/css/demo.css')
    // DATABLES
    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css")
    style.
        .currSign:before { 
            content: '#{company.currency} '; 
        } 


  body
    .wrapper
      .main-header
        .logo-header
          a.logo(href='#')
            img(src=company.logo,width='70px', alt="")
          button.navbar-toggler.sidenav-toggler.ml-auto(type='button' data-toggle='collapse' data-target='collapse' aria-controls='sidebar' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          button.topbar-toggler.more
            i.la.la-ellipsis-v
        nav.navbar.navbar-header.navbar-expand-lg
          .container-fluid
            
            ul.navbar-nav.topbar-nav.ml-md-auto.align-items-center
              
              
              li.nav-item.dropdown
                a.dropdown-toggle.profile-pic(data-toggle='dropdown' href='#' aria-expanded='false')
                  img.img-circle(src='/images/user.png' alt='user-img' width='36')
                  span #{user.first_name} #{user.last_name}
                ul.dropdown-menu.dropdown-user
                  
                
                  a.dropdown-item(href='/company/log_out')
                    i.fa.fa-power-off
                    |  Logout
                // /.dropdown-user
      .sidebar
        .scrollbar-inner.sidebar-wrapper
          .user
            .photo
              img(src='/images/user.png')
            .info
              a(data-toggle='collapse' href='#collapseExample' aria-expanded='true')
                span
                  | #{user.first_name} #{user.last_name}
                  span.user-level Company
                  
              .clearfix
              
                 
          ul.nav
            
            li.nav-item
              a(href='/company/employees')
                i.la.la-users
                p Employees
                span.badge.badge-primary #{employees.length}
            li.nav-item
              a(href='/company/leaves')
                i.la.la-keyboard-o
                p Leaves
                if leaves2.length > 0
                 span.badge.badge-primary #{leaves2.length}
            li.nav-item
              a(href='/company/expenses')
                i.la.la-th-list
                p Expenses
                if expenses2.length > 0
                 span.badge.badge-primary #{expenses2.length}
               
          
            li.nav-item
              a(href='/company/reports')
                i.la.la-signal
                p Reports
               
            if user.role ==='super admin'  || user.role ==='HR admin' 
              li.nav-item
                a(href='/company/settings')
                  i.la.la-gear
                  p Settings
             
                
            
      .main-panel
        .content
          .container-fluid
            h4.page-title 
             a(href="/company/employees").badge.badge-primary
                 i.la.la-angle-left
             &nbsp;   
             | Bulk Salary Payments For #{month} - #{year}
            .row
             .col-md-12(style='margin-bottom:5px')
              != messages('message', locals)
              if none ===true
               alert.alert.alert-info  #{month} payments have already been generated and confirmed. Kindly visit the 
                a(href="/company/reports") report page
            
               
            .row(style='margin-top:25px')
             
                .col-md-4
                 
                    .card.card-stats.card-warning
                      .card-body
                        .row
                          .col-5
                            .icon-big.text-center
                              i.la.la-ioxhost
                          .col-7.d-flex.align-items-center
                            .numbers
                              p.card-category Total Net pay
                              h4.card-title #{net_pay}

                  
                 

                .col-md-4
                     .card.card-stats.card-info
                      .card-body
                        .row
                          .col-5
                            .icon-big.text-center
                              i.la.la-trello
                          .col-7.d-flex.align-items-center
                            .numbers
                              p.card-category Total PAYE
                              h4.card-title #{tax_pay}
                .col-md-4(style='margin-bottom:20px')
                 .row
                  .col-md-12
                   if none ===false
                     a.btn.btn-dark(style='float:right;margin-right:10px;margin-bottom:10px' href='' data-toggle='modal' data-target='#employers_summary') Employer's Summary
                  
                     a.btn.btn-dark(style='float:right;margin-right:10px;margin-bottom:10px' href='' data-toggle='modal' data-target='#employees_summary') Employee's Summary
                  .col-md-12
                   if none ===false
                     a.btn.btn-danger(style='float:right;margin-right:10px;margin-bottom:10px' href='/company/delete_all/#{month}/#{year}') Delete All Payments
                     if user.role ==='super admin' || user.role ==='HR admin' 
                      if check ===2
                       a.btn.btn-primary(style='float:right;margin-right:10px;margin-bottom:10px' href='/company/confirm_all/#{month}/#{year}') Confirm All Payments
                      
                   if not_added.length > 0
                    a.btn.btn-success(style='float:right;margin-right:10px;margin-bottom:10px' href='' data-toggle='modal' data-target='#corrections') Excluded Employees
                 
              
                .col-md-12(style='margin-top:20px')
                      
                      
                        div(style='overflow-x:scroll')
                          table.table.mytable#pay
                              thead
                               tr
                                th No
                                th Employee
                                th Job Title
                                th Department
                                
                                th Status
                                th Month
                                th Year
                                th Basic Amount
                                th Total Post Benefit
                                th Total Expense Amount
                                th Total Gross Amount
                                th 1st Deductions
                                th Pension
                                th Pension Amount
                                th Taxable Amount
                                th Income Tax Type
                                th Total Tax
                                th Tax Exemption Certificate
                                th Tax Exemption Amount
                                th Total Relief Amount
                                th PAYE
                                th Total Deduction Amount
                                th Total Loan Amount
                                th Total Pre Benefits
                                th Net Amount
                                th NITA
                                th Payment Method
                                th Mobile Network
                                th Mobile Number
                                th Bank Acc Name
                                th Bank Acc Number
                                th Bank Name
                                th Bank Branch
                                th Bank Branch Code
                                th Date
                                th Confirm
                               
                                
                                
                              tbody
                               each pay in pays
                                tr
                                  td=pay.no
                                  td
                                    a(href="/company/view_employee/#{pay.emp._id}" target='_blank') #{pay.employee}
                                  td #{pay.emp.hr_details.job_title}
                                  td #{pay.emp.hr_details.department}
                              
                                  td 
                                    if pay.status === 'Pending'
                                      span.badge.badge-dark #{pay.status}
                                    if pay.status === 'Confirmed'
                                      span.badge.badge-success #{pay.status}
                                  td=pay.month
                                  td=pay.year
                                  td  #{pay.gross_amount}
                                  td  #{pay.post_benefits}
                                  td  #{pay.expense_amount}
                                  td  #{pay.total_gross_amount}
                                  td  #{pay.before_deductions_total}
                                  td  #{pay.pension}
                                  td
                                   if pay.pension ===true
                                    | #{pay.employee_pension}
                                   if pay.pension ===false
                                    | ....
                                  td #{pay.taxable_amount}
                                  td  #{pay.income_tax}
                                  td #{pay.tax_amount}
                                  td 
                                   if pay.tax_exemption === true
                                    | #{pay.tax_certificate_number}
                                   if pay.tax_exemption === false
                                    | ....
                                  td 
                                   if pay.tax_exemption === true
                                    | #{pay.tax_exemption_amount}
                                   if pay.tax_exemption === false
                                    | ....
                                  
                                  td  #{pay.relief_amount}
                                  td  #{pay.PAYE}
                                  td  #{pay.deduction_amount}
                                  td  #{pay.loan_amount}
                                  td  #{pay.pre_benefits}
                                  td  #{pay.net_amount}
                                  td  #{pay.nita}
                                  td=pay.payment_method
                                  td
                                   if pay.payment_method === 'Mobile Money'
                                    | #{pay.payment_details.mobile_network}
                                   if pay.payment_method !== 'Mobile Money'
                                    | ....
                                  td
                                   if pay.payment_method === 'Mobile Money'
                                    | #{pay.payment_details.mobile_number}
                                   if pay.payment_method !== 'Mobile Money'
                                    | ....
                                  td
                                   if pay.payment_method === 'Bank Transfer'
                                     | #{pay.payment_details.bank_account_name}
                                   if pay.payment_method !== 'Bank Transfer'
                                    | ....
                                  td
                                   if pay.payment_method === 'Bank Transfer'
                                    | #{pay.payment_details.bank_account_no}
                                   if pay.payment_method !== 'Bank Transfer'
                                    | ....
                                  td
                                   if pay.payment_method === 'Bank Transfer'
                                    | #{pay.payment_details.bank_name}
                                   if pay.payment_method !== 'Bank Transfer'
                                    | ....
                                  td
                                   if pay.payment_method === 'Bank Transfer'
                                    | #{pay.payment_details.bank_branch}
                                   if pay.payment_method !== 'Bank Transfer'
                                    | ....
                                  td
                                   if pay.payment_method === 'Bank Transfer'
                                    | #{pay.payment_details.bank_branch_code}
                                   if pay.payment_method !== 'Bank Transfer'
                                    | ....
                                  td=pay.date
                                  td
                                   a(href="/company/view_pay3/#{pay.id}").btn.btn-primary
                                    | View Pay
                                   &nbsp;&nbsp;
                                  
                                 

                                 

                     
                      


                      
                  
                
    #corrections.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
     .modal-dialog(role='document')
        .modal-content
         .modal-header
            h5#exampleModalLabel.modal-title Excluded Employees
            button.close(type='button' data-dismiss='modal' aria-label='Close')
             span(aria-hidden='true') ×
         .modal-body
             ul.list-group
              each emp,index in not_added
               li.list-group-item
                  
                  a(href="/company/view_employee/#{emp.employee.id}" target='_blank') #{index+1}. #{emp.employee.first_name} #{emp.employee.last_name}
                  span.badge.badge-danger(style='float:right') #{emp.reason}

            
            
               
             
         .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') Close   
    #employers_summary.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
     .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
            h5#exampleModalLabel.modal-title Employer's Summary
            button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          .row
           .col-md-12
            table.table(border='1')
             tbody
              tr
               td 
                img(src=company.logo, width='100px', alt="")
               td(style='font-weight:bold') #{month} #{year }
              tr
               td(colspan=2)
                p Total Gross Amount: 
                 span.mydiv(style='font-weight:bold')  #{employer_summary.gross_pay}
                p Total Net Amount: 
                 span.mydiv(style='font-weight:bold') #{employer_summary.net_pay}
                p Total PAYE: 
                 span.mydiv(style='font-weight:bold') #{employer_summary.PAYE}
              tr
               td(colspan=2)
                p NITA: 
                 span.mydiv(style='font-weight:bold') #{employer_summary.NITA}
              tr
               td(colspan=2)
                p NHIF: 
                 span.mydiv(style='font-weight:bold') #{employer_summary.NHIF}
              tr
               td(colspan=2)
                p NSSF: 
                 span.mydiv(style='font-weight:bold') #{employer_summary.NSSF}
              tr
               td(colspan=2)
                p PENSION Contribution: 
                 span.mydiv(style='font-weight:bold') #{employer_summary.PENSION}
              if user.role==='super admin'
               if employer_summary.approved === false
                tr
                 td(colspan=2)
                  a(href="/company/approve_employer").btn.btn-primary Approve
            
              
             
   
        .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') Close          
    #employees_summary.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
     .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
            h5#exampleModalLabel.modal-title Employees Summary
            button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          .row
           .col-md-12
            table.table(border='1')
             tbody
              tr
               td 
                img(src=company.logo, width='100px', alt="")
               td(style='font-weight:bold') #{month} #{year }
              tr
               td(colspan=2)
                p Total Gross Amount: 
                 span.mydiv(style='font-weight:bold')  #{employee_summary.gross_pay}
                p Total Net Amount: 
                 span.mydiv(style='font-weight:bold') #{employee_summary.net_pay}
                p Total PAYE: 
                 span.mydiv(style='font-weight:bold') #{employee_summary.PAYE}
              tr
               td(colspan=2)
                p Benefits: 
                 span.mydiv(style='font-weight:bold') #{employee_summary.benefits}
              tr
               td(colspan=2)
                p Expenses: 
                 span.mydiv(style='font-weight:bold') #{employee_summary.expenses}
              tr
               td(colspan=2)
                p Pension: 
                 span.mydiv(style='font-weight:bold') #{employee_summary.pensions}
              tr
               td(colspan=2)
                p Loans: 
                 span.mydiv(style='font-weight:bold') #{employee_summary.loans}
              tr
               td(colspan=2)
                p Deductions: 
                 span.mydiv(style='font-weight:bold') #{employee_summary.deductions}
              tr
               td(colspan=2)
                p Relief: 
                 span.mydiv(style='font-weight:bold') #{employee_summary.relief}
              tr
               td(colspan=2)
                p Tax Exemption: 
                 span.mydiv(style='font-weight:bold') #{employee_summary.tax_exemption}
              if user.role==='super admin'
               if employee_summary.approved === false
                tr
                 td(colspan=2)
                  a(href="/company/approve_employee").btn.btn-primary Approve
              
             
   
        .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') Close      
            
        
   
    script(src='/admin/assets/js/core/jquery.3.2.1.min.js')
    script(src='/admin/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')
    script(src='/admin/assets/js/core/popper.min.js')
    script(src='/admin/assets/js/core/bootstrap.min.js')
    script(src='/admin/assets/js/plugin/chartist/chartist.min.js')
    script(src='/admin/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js')
    
    script(src='/admin/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js')
    script(src='/admin/assets/js/plugin/jquery-mapael/jquery.mapael.min.js')
    script(src='/admin/assets/js/plugin/jquery-mapael/maps/world_countries.min.js')
    script(src='/admin/assets/js/plugin/chart-circle/circles.min.js')
    script(src='/admin/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')
    script(src='/admin/assets/js/ready.min.js')
    script(src='/admin/assets/js/demo.js')
    // DATABLES
    script(src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js")
    script(src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js")
    script(src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js")
    script(src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js")
    // PDF
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/fonts/Roboto/Roboto-Medium.ttf")
    script.
       let x = document.querySelectorAll(".mydiv"); 
        for (let i = 0, len = x.length; i < len; i++) { 
            let num = Number(x[i].innerHTML) 
                      .toLocaleString('en'); 
            x[i].innerHTML = num; 
            x[i].classList.add("currSign"); 
        } 
    script(type='text/javascript').
        function SendEmail() {
        html2canvas(document.getElementById('tblCustomers'), {
        onrendered: function (canvas) {
           
        var data = canvas.toDataURL();
        var docDefinition = {
            watermark: { text: 'Confirmed', color: 'blue', opacity: 0.3, bold: true, italics: false },
    
            content: [{
            image: data,
            width: 500
            }]
        };
        pdfMake.createPdf(docDefinition).download( "Report.pdf");
        }
        });
        }





    script.
       $(document).ready( function () {
            $('.mytable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            } );
       })
