doctype html
html
  head
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title View Rates | GBL CENTUM
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport')
    link(rel='shortcut icon', type='image/x-icon', href='/images/icon.png')
    link(rel='stylesheet' href='/admin/assets/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
    link(rel='stylesheet' href='/admin/assets/css/ready.css')
    link(rel='stylesheet' href='/admin/assets/css/demo.css')
    // DATABLES
    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css")
  body
    .wrapper
      .main-header
        .logo-header
          a.logo(href='#')
            img(src=company.logo,width='70px', alt="")
          button.navbar-toggler.sidenav-toggler.ml-auto(type='button' data-toggle='collapse' data-target='collapse' aria-controls='sidebar' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          button.topbar-toggler.more
            i.la.la-ellipsis-v
        nav.navbar.navbar-header.navbar-expand-lg
          .container-fluid
            
            ul.navbar-nav.topbar-nav.ml-md-auto.align-items-center
              
              
              li.nav-item.dropdown
                a.dropdown-toggle.profile-pic(data-toggle='dropdown' href='#' aria-expanded='false')
                  img.img-circle(src='/images/user.png' alt='user-img' width='36')
                  span #{user.first_name} #{user.last_name}
                ul.dropdown-menu.dropdown-user
                  
                
                  a.dropdown-item(href='/company/log_out')
                    i.fa.fa-power-off
                    |  Logout
                // /.dropdown-user
      .sidebar
        .scrollbar-inner.sidebar-wrapper
          .user
            .photo
              img(src='/images/user.png')
            .info
              a(data-toggle='collapse' href='#collapseExample' aria-expanded='true')
                span
                  | #{user.first_name} #{user.last_name}
                  span.user-level Company
                  
              .clearfix
              
                 
          ul.nav
            
            li.nav-item
              a(href='/company/employees')
                i.la.la-users
                p Employees
                span.badge.badge-primary #{employees.length}
            li.nav-item
              a(href='/company/leaves')
                i.la.la-keyboard-o
                p Leaves
                if leaves2.length > 0
                 span.badge.badge-primary #{leaves2.length}
            li.nav-item
              a(href='/company/expenses')
                i.la.la-th-list
                p Expenses
                if expenses2.length > 0
                 span.badge.badge-primary #{expenses2.length}
               
            
            li.nav-item
              a(href='/company/reports')
                i.la.la-signal
                p Reports
               
            if user.role ==='super admin'  || user.role ==='HR admin'
              li.nav-item
                a(href='/company/settings')
                  i.la.la-gear
                  p Settings
             
                
            
      .main-panel
        .content
          .container-fluid
            
            h4.page-title
             a(href="/company/settings").badge.badge-primary
              i.la.la-angle-left
             &nbsp;
             | View Rates - #{deduct.title}
            .row
             .col-md-12
              != messages('message', locals)
            .row(style='margin-top:20px')
             .col-md-12
              button.btn.btn-primary(data-toggle="modal" data-target="#addRate") 
                i.la.la-plus
                |  Add Rate
            .row(style='margin-top:20px')
              .col-md-12
               table.table.mytable
                           thead
                               tr
                                
                                th Minimum Amount
                                th Maximum Amount
                                th Amount
                                th Actions
                           tbody
                             each rate in rates
                              tr
                               td=rate.minimum_amount
                               td=rate.maximum_amount
                               td=rate.amount
                               td
                                a(href="/company/edit_rate_details/#{rate.id}" data-toggle="modal" data-target="#editRateDetails" data-whatever=rate.id)
                                   i.la.la-edit
                                a(href="/company/delete_rate/#{deduct.id}/#{rate.id}") 
                                   i.la.la-trash(style='color:red')
                            
                                
               
            
                                 
              
              
           
    // Add Rate
    #addRate.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
     .modal-dialog(role='document')
      .modal-content
        .modal-header
            h5#exampleModalLabel.modal-title Add New Rate
            button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
            form.form(action='/company/add_new_rate/#{deduct.id}',method='POST')
              .form-group
               label(for="title") Minimum Amount
               input.form-control(type="number", name="minimum_amount",min=0,required,placeholder='Minimum Amount')
             
              .form-group
               label(for="title") Maximum Amount
               input.form-control(type="number", name="maximum_amount",min=0,required,placeholder='Maximum Amount')
              .form-group
                label(for="title") Deduction Amount
                input.form-control(type="number", name="amount",min=0,required,placeholder='Deduction Amount')
               
             
                  
            
              .form-group
               button.btn.btn-primary Save
        .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') Close
    #editRateDetails.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
     .modal-dialog(role='document')
        .modal-content
         .modal-header
            h5#exampleModalLabel.modal-title Edit Rate
            button.close(type='button' data-dismiss='modal' aria-label='Close')
             span(aria-hidden='true') ×
         .modal-body
           
            form(action='/company/edit_rate_details/#{deduct.id}' method='POST')
             
             input#rate_id.form-control(type='hidden' name='id')
             .form-group
               label(for="title") Minimum Amount
               input.form-control#rate_min(type="number", name="minimum_amount",required,placeholder='Minimum Amount')
             
             .form-group
               label(for="title") Maximum Amount
               input.form-control#rate_max(type="number", name="maximum_amount",required,placeholder='Maximum Amount')
             .form-group
                label(for="title") Deduction Amount
                input.form-control#rate_amount(type="number", name="amount",required,placeholder='Deduction Amount')
               
             
             .form-group
               button.btn.btn-primary Save
               
             
         .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') Close
    



    // Edit Rate        
      
   
    script(src='/admin/assets/js/core/jquery.3.2.1.min.js')
    script(src='/admin/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')
    script(src='/admin/assets/js/core/popper.min.js')
    script(src='/admin/assets/js/core/bootstrap.min.js')
    script(src='/admin/assets/js/plugin/chartist/chartist.min.js')
    script(src='/admin/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js')
    
    script(src='/admin/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js')
    script(src='/admin/assets/js/plugin/jquery-mapael/jquery.mapael.min.js')
    script(src='/admin/assets/js/plugin/jquery-mapael/maps/world_countries.min.js')
    script(src='/admin/assets/js/plugin/chart-circle/circles.min.js')
    script(src='/admin/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')
    script(src='/admin/assets/js/ready.min.js')
    script(src='/admin/assets/js/demo.js')

    // DATABLES
    script(src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js")
    script(src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js")
    script(src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js")
    script(src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js")
   





    script.
       $(document).ready( function () {
            $('.mytable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            } );
            $('#editRateDetails').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // Extract info from data-* attributes
                var rate = {}
                $.get('/company/get_rate_details/'+recipient, function( data ) {
                    console.log(data)
                   rate=data.rate
                 
                })
                setTimeout(()=>{
                 var modal = $(this)
                   modal.find('.modal-body #rate_id').val(recipient)
                   modal.find('.modal-body #rate_min').val(rate.minimum_amount)
                   modal.find('.modal-body #rate_max').val(rate.maximum_amount)
                   modal.find('.modal-body #rate_amount').val(rate.amount)
                   
                },1000)
                
                
            })
       })
